<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flickr DocsPics</title>
</head>
<body>
    <h1>INDEX PAGE</h1>
    <% @pics.each do |hi| %>
      <% server = hi.server %>
      <% id = hi.id %>
      <% secret = hi.secret %>
      <div>
        <img src="<%= "https://live.staticflickr.com/#{server}/#{id}_#{secret}_w.jpg" %>" alt="#"></img>
      </div>
    <% end %>
</body>
</html>